.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: rgb(255,0,0);
}

h1 img {
  margin-right: 25px;
}

h2 {
  color: rgb(170, 155, 245);
}

h3 {
  color: beige;
  font-size: .95rem;
}

h3::before {
  content: "⚪ ";
}

.interpolacion span {
  font-size: 1.3rem;
  font-family: 'Afacad', sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  color: thistle;
  display: block;
}

.binding button {
  margin-left: 20px;
}

.eventBinding button {
  background-color: rgba(69, 69, 185, 0.75);
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.eventBinding hr {
  border-color: rgba(255,255,255,0.45);
}

.eventBinding .contadorOvejas .box {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(185, 166, 215);
  height: auto;
  min-height: 20px;
}

.eventBinding input {
  margin-top: 10px;
  width: 40px;
  padding: 8px;
}

.eventBinding .contadorOvejas .box span {
  letter-spacing: 10px;
}

.dataBinding .ngModel span {
  color: white;
}

.dataBinding .ngModel span.message {
  color: rgb(177, 177, 177);
}

.dataBinding .ngModel span.message.error {
  color: rgb(13, 0, 255);
}


.directivas {
  color: white;
}

.directivas .invitados {
  margin: 0;
  background-color: rgb(116, 55, 88);
}

.directivas .invitados {
  list-style: none;
  padding: 0;
}

.directivas .invitados li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgb(166, 64, 166);
}

.directivas .invitados li button {
  background: transparent;
}

.directivas .pokemons {
  border: 1px dashed red;
  width: 100%;
  display: flex;
}

.directivas .pokemons a {
  color: rgb(6, 74, 193);
}

.directivas .pokemons div::before {
  content: '👾 ';
}

.directivas .pokemons div {
  border: 1px dashed rgb(15, 42, 82);
  width: 150px;
  font-size: 0.85rem;
}

